<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include layout/page-title %>
    <%- include layout/bootstrapHead%>
  </head>

  <body>
    <%-include layout/navbar%>
    <h1>Add New Event</h1>
    <center>
      <form action="/promotor/addEvent/<%=id%>" method="post">
        <label>Event Name</label><br>
        <input type="text" name="event_name"></input><br><br>


        <label>Schedule</label><br>
          <input type="date" name="schedule"></input><br><br>
        <label>Location</label><br>
          <input type="text" name="location"></input><br><br>
        <label>Quantity Ticket</label><br>
          <input type="text" name="qty_ticket"></input><br><br>
        <label>Ticket Price</label><br>
          <input type="text" name="price"></input><br><br>
        <label>Category</label><br>
          <select name= "category">

            <option value="Music">Music</option>
            <option value="Seminar">Seminar</option>
            <option value="Sport">Sport</option>

          </select><br><br>
        <button type="submit" class="btn btn-success">Add Event</button>
      </form>
    </center>
    <br><br><a href="/promotor">Promotor</a>
    <%-include layout/bootstrapBody%>
  </body>
</html>
