<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <%-include layout/page-title%>
      <%- include layout/bootstrapHead%>
  </head>
  <body>
    <%-include layout/navbar%>
    <table class = "table">
      <tr>
        <th>Event Name</th>
        <th>Category</th>
        <th>Schedule</th>
        <th>Location</th>
        <th>Ticket Quantity</th>
        <th>Price</th>
        <th></th>
      </tr>
      <%dataMusic.forEach(event=>{ %>
        <tr>
          <td><%=event.event_name%></td>
          <td><%=event.category%></td>
          <td><%=event.schedule%></td>
          <td><%=event.location%></td>
          <td><%=event.qty_ticket%></td>
          <td><%=event.price%></td>
          <td>
              <button type="button" name="buy" onclick="location.href='/buy/<%=event.id%>'"class="btn btn-success">Buy</button>
          </td>
        </tr>
      <%})%>
    <%-include layout/bootstrapBody%>
  </body>
</html>
